{% extends 'base.html' %}
 {% block title %}
    Articles
 {% endblock %}
 {% block body %}

      <h1>articles list</h1>
<div class="articles">
      {% for  article in articles %}
    <div class="article">
      <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
      <!--<p>{{article.body}}</p>--> <!-- for full article text-->
      <p>{{article.snip}}</p> <!--for 50 caracter view-->
      <p>{{article.date}}</p>
      <p class="author">added by {{article.author.username}}</p>
    </div>
      {% endfor %}
</div>
 {% endblock %}
