{% load static %}
<html>
  <head>
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
  </head>
  <body>
    <div class="container">
      <h1>articles list</h1>
      <hr>
      {% for  article in articles %}
      <h2><a href="#">{{article.title}}</a></h2>
      <!--<p>{{article.body}}</p>--> <!-- for full article text-->
      <p>{{article.snip}}</p> <!--for 50 caracter view-->
      <p>{{article.date}}</p>
      <hr>
      {% endfor %}
    </div>
  </body>
</html>