{% load static %}
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>
  <header>
      <nav>
    <ul>
      {% if user.is_authenticated %}
      <li>
<!--        <form class="logout0" action="{% url 'accounts:logout'%}" method="post">-->
<!--         {%csrf_token%}-->
<!--          <button type="submit" value="logout">logout</button>-->
<!--        </form>-->
        <a class="logout" href="{% url 'accounts:logout' %}"> logout </a>
      </li>
       <li>
        <a class="highlight" href="{% url 'articles:create' %}"> creat new article </a>
      </li>
      {% else %}
      <li>
        <a class="highlight" href ="{% url 'accounts:login' %}"> login </a>
      </li>
       <li>
        <a class="highlight" href="{% url 'accounts:signup' %}"> signup </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  </header>
  <body>
  <div class="wrapper">
     {% block body %}
      {% endblock %}
  </div>
  </body>

</html>